* text=auto !eol
/AUTHORS -text
Infeas/AUTHORS -text
Infeas/LICENSE -text
Infeas/README -text
Infeas/bgdbg1.mps -text
Infeas/bgetam.mps -text
Infeas/bgindy.mps -text
Infeas/bgprtr.mps -text
Infeas/box1.mps -text
Infeas/ceria3d.mps -text
Infeas/chemcom.mps -text
Infeas/configure -text
Infeas/configure.ac -text
Infeas/cplex1.mps -text
Infeas/cplex2.mps -text
Infeas/ex72a.mps -text
Infeas/ex73a.mps -text
Infeas/forest6.mps -text
Infeas/galenet.mps -text
Infeas/gosh.mps -text
Infeas/gran.mps -text
Infeas/greenbea.mps -text
Infeas/itest2.mps -text
Infeas/itest6.mps -text
Infeas/klein1.mps -text
Infeas/klein2.mps -text
Infeas/klein3.mps -text
Infeas/mondou2.mps -text
Infeas/pang.mps -text
Infeas/pilot4i.mps -text
Infeas/qual.mps -text
Infeas/reactor.mps -text
Infeas/refinery.mps -text
Infeas/vol1.mps -text
Infeas/woodinfe.mps -text
/LICENSE -text
/README -text
/bgdbg1.mps -text
/bgetam.mps -text
/bgindy.mps -text
/bgprtr.mps -text
/box1.mps -text
/ceria3d.mps -text
/chemcom.mps -text
/configure -text
/configure.ac -text
/cplex1.mps -text
/cplex2.mps -text
/ex72a.mps -text
/ex73a.mps -text
/forest6.mps -text
/galenet.mps -text
/gosh.mps -text
/gran.mps -text
/greenbea.mps -text
/itest2.mps -text
/itest6.mps -text
/klein1.mps -text
/klein2.mps -text
/klein3.mps -text
/mondou2.mps -text
/pang.mps -text
/pilot4i.mps -text
/qual.mps -text
/reactor.mps -text
/refinery.mps -text
/vol1.mps -text
/woodinfe.mps -text
