* text=auto !eol
/AUTHORS -text
/LICENSE -text
/README -text
/bgdbg1.mps -text
/bgetam.mps -text
/bgindy.mps -text
/bgprtr.mps -text
/box1.mps -text
/ceria3d.mps -text
/chemcom.mps -text
/coindatainfeas-uninstalled.pc.in -text
/coindatainfeas.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/cplex1.mps -text
/cplex2.mps -text
/depcomp -text
/ex72a.mps -text
/ex73a.mps -text
/forest6.mps -text
/galenet.mps -text
/gosh.mps -text
/gran.mps -text
/greenbea.mps -text
/install-sh -text
/itest2.mps -text
/itest6.mps -text
/klein1.mps -text
/klein2.mps -text
/klein3.mps -text
/ltmain.sh -text
/missing -text
/mondou2.mps -text
/pang.mps -text
/pilot4i.mps -text
/qual.mps -text
/reactor.mps -text
/refinery.mps -text
/vol1.mps -text
/woodinfe.mps -text
